<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">
<%= link_to @batches.first.school_url, :target => "_blank" do %>
            <div class="fill" style="background-image" ><%= image_tag @batches.first.issuer.logo_path %></div>
          <% end %>
<table class="table table-bordered">
	<th>
	  <td><strong>Class Year</strong></td>
	  <td><strong>Diplomas Count</strong></td>
	  <td><strong><span data-toggle="tooltip" data-placement="top" title="Height of Block where registered address first appears as a transaction input.">Block</span></strong></td>
	  <td><span data-toggle="tooltip" data-placement="top" title="Look for this address in a transaction input of the Block."><strong>School Signature Address</strong></span></td>
	  <td><span data-toggle="tooltip" data-placement="top" title="Look for this address in a transaction input of the Block."><strong>Class Diploma Report</strong></span></td>
	  <% if current_user %>
	  <td><span data-toggle="tooltip" data-placement="top" title="Look for this address in a transaction input of the Block."><strong>Class Directory</strong></span></td>
	  <% end%>
	</th>
<% @batches.each do |batch| %>
	<tr>
	  <td></td>
	  <td><a href="<%= "#{search_batch_path(batch)}" %> "><%= batch.title %></a></td>
	  <td><%= batch.deeds.count %></td>
	  <td>
		<% if batch.first_block %>
			<%= batch.first_block %>
		<% else %>
			N/A
		<% end %></td>
	  <td><a href='<%= batch.address_url %>' target="_blank"><%= batch.payment_address %></a></td>
	  <% @deed = batch.deeds.where("category = ?", Deed.categories['diploma_report']).last %>
	  <td><% if @deed %>
			<a class="btn btn-default btn-xs btn-success" href="<%= "#{download_report_deed_path(@deed)}" %> "><i class="fa fa-download"></i>Download Diploma Report</a><% end %></td>
		<% if current_user %>
	  <td><% if @deed %>
	  		<a class="btn btn-default btn-xs btn-success" href="<%= "#{download_report_deed_path(@deed)}" %> "><i class="fa fa-download"></i>Download Diploma Report</a><% end %></td><% end %>
	</tr>
	<% end %>
</table>
</br></br></br></br></br></br>
    <script type="text/javascript">

    $(document).ready(function(){

        $('[data-toggle="tooltip"]').tooltip();   

    });

    </script>

