<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">
       
<h1>Issuers</h1>

<div class="row">
	 <div class="col-lg-3">
		<strong>Name
	</div>
	<div class="col-lg-3">
		Mpk
	</div>
	<div class="col-lg-2">
		Authorized users count
	</div>
	<div class="col-lg-1">
		Deeds count</strong>
	</div>
	<div class="col-lg-1">
	</div>
	<div class="col-lg-1">
	</div>
	<div class="col-lg-1">
	</div>
</div>
    <% @issuers.each do |issuer| %>
	    <!-- Page Heading/Breadcrumbs -->
	    <div class="row">
			 <div class="col-lg-3">
        		<%= issuer.name %>
			</div>
			<div class="col-lg-3">
        		<%= issuer.mpk.truncate(24) if issuer.mpk %>
			</div>
			<div class="col-lg-2">
        		<%= issuer.users.count if issuer.users %>
			</div>
			<div class="col-lg-1">
        		<%= issuer.deeds.count if issuer.deeds %>
			</div>
			<div class="col-lg-1">
        		<%= link_to 'Show', issuer %>
			</div>
			<div class="col-lg-1">
        		<%= link_to 'Edit', edit_issuer_path(issuer) %>
			</div>
			<div class="col-lg-1">
        		<%= link_to 'Destroy', issuer, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
	  </div>
    <% end %>

<br>

<%= link_to 'New Issuer', new_issuer_path %>
