<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">
       
<h1>Schools</h1>

<div class="row">
	 <div class="col-lg-2">
		<strong>School Name
	</div>
	<div class="col-lg-2">
		Class Year
	</div>
	<div class="col-lg-2">
		Diplomas Count
	</div>
	<div class="col-lg-2">
		<span data-toggle="tooltip" data-placement="top" title="Height of Block where registered address first appears as a transaction input.">Block</span>
	</div>
	<div class="col-lg-4">
		<span data-toggle="tooltip" data-placement="top" title="Look for this address in a transaction input of the Block.">Registered School Address</span></strong>
	</div>
</div>
</br >
    <% @issuers.each do |issuer| %>
		<% issuer.batches.each do |batch| %>
	    <!-- Page Heading/Breadcrumbs -->
	    <div class="row">
			 <div class="col-lg-2">
        		<%= issuer.name %>
			</div>
			<div class="col-lg-2">
				<a href="<%= "#{search_batch_path(batch)}" %> "><%= batch.title %></a>
			</div>
			<div class="col-lg-2">
        		<%= batch.deeds.count %>
			</div>
			<div class="col-lg-2">
				<% first_block = first_block(batch.payment_address) %>
				<% if first_block.to_i < 840000 and first_block.to_i > 0 %>
        			<%= first_block %>
				<% else %>
					N/A
				<% end %>
			</div>
			<div class="col-lg-4">
        		<%= batch.payment_address %>
			</div>
	  	</div>
		<% end %>
    <% end %>


    <script type="text/javascript">

    $(document).ready(function(){

        $('[data-toggle="tooltip"]').tooltip();   

    });

    </script>

