<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image" ><%= image_tag("diploma_1_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image" ><%= image_tag("diploma_2_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image" ><%= image_tag("diploma_3_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to diploma.report
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Secured by the Blockchain</h4>
                </div>
                <div class="panel-body">
                    <p>The School Class report digest is stored in the Bitcoin blockchain.</br>Upon receiving a diploma, Bob, a recruiter, can verify that the diploma digest is listed in the Class report.</br>Using any blockchain explorer, Bob can search transactions from the Bitcoin address shown on the Class report: one of them should display the Class report digest as an output and the School address as an input.</br> By checking a reliable source, such as paymium.com or the School website, Bob can verify that the Bitcoin address was used by the School to authenticate the diplomas of the Class.</p>
                    <a href="<%= page_path('blog-post') %>" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Based on Free Software</h4>
                </div>
                <div class="panel-body">
                    <p>Diploma.report is meant to serve the needs of graduates, schools, universities and recruiters.</br>Diploma.report was developped using free software, notably ruby-on-rails, bitcoin-ruby and money-tree.</br>Free blockchain explorers such as blockcypher.com or blocktrail.com can be used to check bitcoin OP_RETURN transactions.</br>We should all be very grateful for the work of the free software developpers who are building such great tools and making them available to us.</p></br></br></br></br>
                    <a href="<%= page_path('about') %>" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p>No sign up is required.</br>Alice, a student, will simply visit our "Schools" page and click on her Class year.</br>The page will enable Alice to compute the digest of her diploma and to search for her diploma page using her first and last name.</br>An HR recruiter receiving her diploma can search for her diploma page and verify her diploma like so:</p>
					1. Compute the hash of the diploma</br>
					2. Verify that the Class Report includes the hash
</br></br></br></br></br>
				
                    <a href="<%= page_path('blog-post') %>" class="btn btn-default">Sample Diploma Page</a>


                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Samples of Blockchain Notarized Document</h2>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-diploma') do %>
            <div class="fill" style="background-image" ><%= image_tag("meyers_washingtonU_diploma.jpg") %></div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-paper') do %>
			<div class="fill" style="background-image" ><%= image_tag("bitcoin_white_paper_satoshi_nakamoto.pdf") %></div>
          <% end %>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Features</h2>
        </div>
        <div class="col-md-6">
            <p>Diploma.report includes the following features: </p>
            <ul>
                <li>Compute the SHA256 hash of a file</li>
                <li>Upload and optionally store the file in the Amazon cloud (AWS S3)</li>
                <li>Supported file format: png, jpg, pdf</li>
                <li>Maximum file size with free plan: <%= '%.0f' % ($MAX_SIZE/1.2) %>k.</li>
                <li>Download the original file any time from the Amazon cloud storage (option).</li>
                <li>Log the file hash in the blockchain and save the tx ID for easy retrieval.</li>
            </ul>
            <p>The file hash can be verified in the blockchain using any <%= link_to 'blockchain explorer', page_path('blog-post') %> aware of OP_RETURN transactions.</p>
        </div>
        <div class="col-md-6">
			<div class="fill" style="background-image" ><%= image_tag("DIU_New_Orleans_diploma.jpg") %></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 50000 //changes the speed
  })
});
</script>
