<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image" ><%= image_tag("diploma_1_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image" ><%= image_tag("diploma_2_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image" ><%= image_tag("diploma_3_resized.jpg") %></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to diploma.report
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Secured by the Blockchain</h4>
                </div>
                <div class="panel-body">
                    <p>The diploma file digest is stored in the Bitcoin blockchain, as an OP_RETURN transaction output.</br>The file itself is stored securely by diploma.report in the Amazon cloud (AWS S3).</br>Later on, recruiters can download the diploma file to verify that its digest matches the digest recorded in the blockchain.</p></br></br></br></br></br></br></br>
                    <a href="<%= page_path('about') %>" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Based on Free Software</h4>
                </div>
                <div class="panel-body">
                    <p>Diploma.report was developped using free software, notably ruby-on-rails, bitcoin-ruby and money-tree.</br>Free blockchain explorers such as blockcypher.com can be used to check bitcoin OP_RETURN transactions.</br>I am very grateful for the work of the free software developpers who are building such great tools and making them available to all of us.</p></br></br></br></br></br>
                    <a href="<%= page_path('about') %>" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p>Diploma.report is meant to serve the needs of graduates, schools, universities and recruiters.</br> No sign up is required: simply sign in with a gmail address of yours.</br>Upload a copy of your file, diploma.report takes care of computing the digest and storing it in the blockchain.</br>Anytime later on, you can provide a a copy of the original file along with the OP_RETURN transaction ID to prove prior ownership of the file.</br>If you lose your local copy of the file, you can always download it from the Amazon cloud via diploma.report.</p>
				<% if current_user %>
					<a href="<%= new_deed_path %>" class="btn btn-default">Upload a New Deed</a>
				<% else %>
                    <a href="<%= signin_path %>" class="btn btn-default">Sign in with a Gmail Account</a>
				<% end %>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Sample of Blockchain Notarized Document</h2>
        </div>
        <div class="col-md-4 col-sm-12">
          <%= link_to page_path('portfolio-diploma') do %>
            <div class="fill" style="background-image" ><%= image_tag("U_Pacific_diploma.jpg") %></div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-paper') do %>
			<div class="fill" style="background-image" ><%= image_tag("bitcoin_white_paper_satoshi_nakamoto.pdf") %></div>
          <% end %>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Features</h2>
        </div>
        <div class="col-md-6">
            <p>Diploma.report includes the following features: </p>
            <ul>
                <li>Compute the SHA256 hash of a file</li>
                <li>Upload and optionally store the file in the Amazon cloud (AWS S3)</li>
                <li>Supported file format: png, jpg, pdf</li>
                <li>Maximum file size with free plan: <%= '%.0f' % ($MAX_SIZE/1.2) %>k.</li>
                <li>Download the original file any time from the Amazon cloud storage (option).</li>
                <li>Log the file hash in the blockchain and save the tx ID for easy retrieval.</li>
            </ul>
            <p>The file hash can be verified in the blockchain using any blockchain explorer aware of OP_RETURN transactions.</p>
			<p>As of January 29, 2016, such blockchain explorers include:</p>
			<ul>
                <li><a href="https://live.blockcypher.com/btc/tx/7a92ab538095c4b6e57075c6ff36e100a34cdd5bcaae521479510413be25745e/" target="blank">blockcypher.com</a></li>
				<li><a href="https://www.blocktrail.com/BTC/tx/7a92ab538095c4b6e57075c6ff36e100a34cdd5bcaae521479510413be25745e" target="blank">blocktrail.com</a></li>
            </ul>
        </div>
        <div class="col-md-6">
			<div class="fill" style="background-image" ><%= image_tag("DIU_New_Orleans_diploma.jpg") %></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 50000 //changes the speed
  })
});
</script>
