<p id="notice"><%= notice %></p>

<h1>Listing Viewers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
	  <th>Access Key</th>
      <th>Deed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viewers.each do |viewer| %>
      <tr>
        <td><%= viewer.email %></td>
		<td><%= viewer.access_key %></td>
        <td><%= viewer.deed_id %></td>
        <td><%= link_to 'Show', viewer %></td>
        <td><%= link_to 'Edit', edit_viewer_path(viewer) %></td>
        <td><%= link_to 'Destroy', viewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewer', new_viewer_path %>
