<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
			<tr>
				<td><%= $PAYMENT_ADDRESS %></td>
				<% if balance($PAYMENT_ADDRESS) >= $PAYMENT_NODES_COUNT*$OP_RETURN_AMOUNT %>
				<td><%= link_to "Fund UTXOs from #{$PAYMENT_ADDRESS}", fund_utxos_user_path(current_user), :class => 'btn btn-default btn-xs btn-success' %></td>
				<% else %>
				<td><%= balance($PAYMENT_ADDRESS) %> BTC</td>
				<% end %>
			</tr>
			<tr>
				<td><%= $COLLECTION_ADDRESS %></td>
				<td><%= link_to "Refund payment address from #{$COLLECTION_ADDRESS}", refund_payment_address_user_path(current_user), :class => 'btn btn-default btn-xs btn-success' %></td>
			</tr>
			<tr>
				<td>Broadcast activated: <%= $BROADCAST %></td>
			</tr>
        </tbody>
      </table>
    </div>
  </div>



</div>
