<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @user.name %>
                <small>Account</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">You have <%=  pluralize(@user.deeds.count, 'Upload') %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

	<% @deeds.each do |deed| %>
    <div class="row">
        <div class="col-md-5">
			<%= link_to deed do %>
				<%= image_tag deed.avatar.url(:square), class: 'img-responsive img-hover' %>
			<% end %>
        </div>
        <div class="col-md-7">
            <h4><%= deed.name %></h4>
            <h5><%= deed.category.titleize %>: <%= deed.issuer.name if deed.issuer %><%= ", #{deed.batch.title}" if deed.batch %></h5>
            <p><%= deed.description %></p>
			<ul>
				<li>File SHA256 Fingerprint: <%= deed.upload %></li></br>
				<% unless deed.tx_hash.blank? %>
                	<li>OP_RETURN Tx ID: <a href="<%= tx_link(deed.tx_hash) %>"  target="blank"><%= deed.tx_hash %></a></li>
				<% end %>
            </ul>
            	<%= link_to 'View Deed', deed, class: 'btn btn-default btn-xs btn' %><span> </span>
			<a class="btn btn-default btn-xs btn" href="<%= "#{download_deed_path(deed)}" %> "><i class="fa fa-download"></i><%= " #{deed.avatar_file_name}" %></a>
        </div>
    </div>
    <!-- /.row -->
	<hr>
	<% end %>

    <!-- Pagination -->
    <div class="row text-center">
	        <div class="col-lg-12">
				<div class="digg_pagination">
					<%= will_paginate @deeds, :page_links => false %>
				</div>
	        </div>
	    </div>
    <!-- /.row -->

	<!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Upload your most precious deeds. A deed is valuable document such as a diploma, property title or an academic paper. Accepted file formats are pdf, jpg or png. File size must be less than <%= '%.0f' % ($MAX_SIZE/1.2) %>k.</p>
            </div>
            <div class="col-md-4">
                <%= link_to "Upload a New Deed", new_deed_path, :class => 'btn btn-lg btn-default btn-block'  %>
            </div>
        </div>
    </div>

</div>
<!-- /.container ->