<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Diploma.report</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-12">
            <h2>Check your file digest</h2>
			<p> What makes diploma.report so powerful as a secure file certification mechanism, is that you can check your local file digest by yourself. </br>There is no need for a third party to verify that the digest (hash) of your local copy of the file matches the digest (hash) logged in the blockchain.</p>
			<p> Only the digest of your file, not the file itself, is publicly visible in the blockchain as a transaction ouptput. </br>It is embedded as a special kind of Bitcoin transaction outputs known as "OP_RETURN" outputs. </br>Those outputs are not spendable, i.e carry zero monetary face value but are stored in the blockchain just as securely and permanently as any other transaction output.</p>
            <p>On OSX or Linux, open a terminal window and verify your local file sha256 digest (hash) by yourself (avoid space caracters in file names or folder names, if any, replace with underscore caracters, hash computation result is independent of file name):</br></br>
			$ irb</br>
			2.2.0 :001 > require 'digest'</br>
			 => true </br>
			2.2.0 :002 > sha256 = Digest::SHA256.file '/Users/noizat/Documents/Bitcoin_book_2012.pdf'</br>
			 <%= "=> #<Digest::SHA256: 99368fbbbbb6cbebfcc436f97da3ef97dfb28f37c16ae13cd484a166f251dba0>" %></br>
			2.2.0 :003 > sha256.to_s.unpack('H*').first</br>
			 <%= "=> '39393336386662626262623663626562666363343336663937646133656639376466623238663337633136616531336364343834613136366632353164626130'" %></p>
			<p> Most block explorers will display the "OP_RETURN" data as a 64-character hexadecimal string (e.g. above "99368fbbbbb6cbebfcc436f97da3ef97dfb28f37c16ae13cd484a166f251dba0")</br>
				Be aware, however, that some other, less clever block explorers will display the same string only as a cumbersome 128-character hexadecimal encoded string</br>
				(e.g "39393336386662626262623663626562666363343336663937646133656639376466623238663337633136616531336364343834613136366632353164626130").</br>
				To prevent any confusion, diploma.report displays the file hash encoded in both string formats.</p>
        </div>
    </div>
    <!-- /.row -->

	<!-- Message verification Content -->
    <div class="row">
        <div class="col-md-12">
            <h2>Verify the signature of a message</h2>
			<p>Diploma.report can send an email message signed by the same key that was used to sign the blockchain transaction.</br>
			The verifier can use any wallet application such as <a href="https://electrum.org/#home" target="blank">Electrum</a> or <a href="https://multibit.org/" target="blank">Multibit</a>, allowing the verification of a signed message</br>
			The signed message sent by diploma.report will look like this:</p>
			<p>	Your deed, CE Diploma, was verified successfully by diploma.report. This message is signed by its issuer: Cadiz Universidad.</p>
			<p>	<a href="https://live.blockcypher.com/btc/address/1JmcGRqLJheYNMKrWv8qbCUAu9c317WEKV/" target="blank">Address: </a>1JmcGRqLJheYNMKrWv8qbCUAu9c317WEKV</p>
			<p>	Signature: H6TxQEQsciE03oF/efm3tqgJMpG7LpEPL6WRIrLFSMfTNIUzthN9XDnaA22WWyRSU+KyFs2/x00F8iKo5/WeaBE=</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="img-responsive"><%= image_tag("Pierre_Noizat_Photo.jpg") %></div>
                <div class="caption">
                    <h3>Pierre Noizat<br>
                        <small>contact@paymium.com</small>
                    </h3>
                    <p>Questions, comments, suggestions ? Your feedback will be appreciated. Please drop me a note via email or social network.</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/Paymium/"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://fr.linkedin.com/in/pierrenoizat"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="https://twitter.com/PierreNoizat"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
		<div class="col-md-4 text-center">
		</div>
		<div class="col-md-4 text-center">
		</div>
    </div>
        
    <!-- /.row -->

    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="img-responsive"><a href="http://www.esilv.fr" target="blank" ><%= image_tag("esilv_logo_resized.png") %></a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
