<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Schools, Universities, Alumni, Students:
                <small>Contact us!</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10499.498639198197!2d2.3370677499999997!3d48.86060045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sfr!4v1467115324950" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Contact Paymium about blockchain authenticated diplomas:</h3>
            <p>
                73 rue du Chateau<br>Boulogne, 92100, FRANCE<br>
            </p>
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:contact@paymium.com">contact@paymium.com</a>
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/Paymium" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://fr.linkedin.com/in/pierrenoizat" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/Paymium" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

	<div class="row">
      <div class="col-xs-12">
        <h4 class="heading">Feel free to contact us</h4>
        <p class="heading__sub">
          If you would like your School to authenticate its diplomas as pdf files, saving time and trees, feel free to contact us: we will get back to you as soon as possible. 
        </p>
      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

        <!-- Alert message -->
        <div class="alert contact-form__alert" id="form_message" role="alert"></div>

        <!-- Contact form -->

<% @contact = Contact.new %>
<%= simple_form_for @contact, :html => {:class => 'contact__form', :id =>"form_sendemail" } do |f| %>
<div class="row">
    <div class="col-sm-6">
<div class="form-group">
    <label for="name" class="sr-only">Your name</label>
    <%= f.input :name, :required => true, :name =>"name", :class => "form-control", :id => "name" , :placeholder => "Full Name" %>
    <span class="help-block"></span>
  </div>
    
	<div class="form-group">
      <label for="email" class="sr-only">Your email address</label>
      <%= f.input :email, :required => true, :name => "email", :class => "form-control", :id => "email", :placeholder => "E-mail" %>
      <span class="help-block"></span>
    </div>

    </div>

<div class="col-sm-6">
	<div class="form-group">
        <label for="message" class="sr-only">Your message</label>
    <%= f.input :message, :as => :text, :required => true, :name => "message", :class => "form-control", :rows => "9", :id => "message", :placeholder => "Message" %>
	<span class="help-block"></span>
  </div>
</div>

</div> <!-- / .row -->
    <div>
	
      <div class="text-center">
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary", :controller => "contacts", :action => "create" %>
		<div class="clearfix"></div>
    </div>
</div>
</div>
</div>
  <% end %>

</div>
<!-- /.container -->
