<%= simple_form_for @deed, url: deeds_path do |f| %>
<%= f.error_notification %>

  <div class="form-inputs">
  <%= f.select(:category, Deed.categories.keys.map {|category| [category.titleize,category]}) %>
  </div></br>

  <div class="form-inputs">
  <%= f.input :avatar, :label => 'Image File (jpg, png or pdf)', as: :file %>
  </div>
  <p>Maximum file size with free plan: <%= '%.0f' % ($MAX_SIZE/1.2) %>k.</p></br></br>

  <div class="form-inputs">
    <%= f.input :name, :label => 'Title' %>
	<%= f.input :issuer %>
	<%= f.input :description %>
	
	<%= f.hidden_field :user_id , :value => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>   <%= link_to 'Cancel', current_user, :class => 'btn btn-default' %>
  </div>
<% end %>