<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @deed.name %>
                <small><%= @deed.avatar_file_name %></small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
				<li><%= link_to "#{current_user.name}", current_user %></li>
				<li><%= link_to "#{@deed.name}", @deed %></li>
                <li class="active">Edit</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
			<%= simple_form_for @deed, url: deed_path(@deed), method: :patch do |f| %>
			<%= f.error_notification %>
			  <div class="form-inputs">
				<%= f.select :category, Deed.categories.keys.map {|category| [category.titleize,category]} %>
			  </div></br>
			  <div class="form-inputs">
			    <%= f.input :name, :label => "Title: " %>
				<h5>Issuer: </h5>
				<%= f.collection_select :issuer_id, Issuer.all, :id, :name %></br></br>
				<% unless @batches.blank? %>
					<h5>Batch: </h5>
					<% if @batches.count > 1 %>
						<%= f.collection_select :batch_id, @batches, :id, :title %></br></br>
					<% else %>
						<%= @batches.first.title if @batches %></br></br>
						<%= f.hidden_field :batch_id , :value => @batches.first.id %>
					<% end  %>
				<% end %>
				<%= f.input :description, input_html: {value: f.object.avatar_file_name} %>
			  </div>
			
			  <div class="form-actions">
			    <%= f.button :submit %>   <%= link_to 'Cancel', @deed, :class => 'btn btn-default' %>
			  </div>
			<% end %>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
