<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @deed.name %>
                <small><%= @deed.avatar_file_name %></small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
				<li><%= link_to "#{current_user.name}", current_user %></li>
				<li><%= link_to "Uploads", deeds_path %></li>
                <li class="active"><%= @deed.category.titleize %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
			<%= image_tag @deed.avatar.url %>
        </div>

        <div class="col-md-8">
            <h3><%= @deed.category.titleize %>: <%= @deed.issuer.name if @deed.issuer %><%= ", #{@deed.batch.title}" if @deed.batch %></h3>
            <p><%= @deed.description %></p>
            <h3>Deed Details</h3></br>
            <ul>
				<li>File SHA256 Hash (string encoded): <%= @deed.upload %></li></br>
				<li>File SHA256 Hash (hex encoded):</br>
				<small><%= @deed.upload.unpack('H*').first %></small></li></br>
				<% unless @deed.tx_hash.blank? %>
					<li>OP_RETURN Tx ID: <a href="<%= tx_link(@deed.tx_hash) %>"  target="blank"><%= @deed.tx_hash %></a></li></br>
					<li>Public link: <a id='fe_text' href="<%= "#{public_display_deed_path(@deed)}" %> "  target="blank"><%= public_link(@deed.access_key) %></a></li></br>
				<% end %>
            </ul></br></br>
			<p><a class="btn btn-default btn-xs btn-success" href="<%= "#{download_deed_path(@deed)}" %> "><i class="fa fa-download"></i> Download</a>
			<% if @deed.tx_hash.blank? %>
			<span> </span>
				<% if $SCHOOLS.include?(@issuer.name)%>
					<% if @deed.tx_raw.blank? %>
					<a class="btn btn-default btn-xs btn-success" href="<%= "#{display_tx_deed_path(@deed)}" %> "><i class="fa fa-database"></i> Display Raw Signed Tx</a>
					<% end %>
				<% else %>
				<a class="btn btn-default btn-xs btn-success" href="<%= "#{log_hash_deed_path(@deed)}" %> "><i class="fa fa-database"></i> Log hash in Blockchain</a>
				<% end %>
			<% else %>
			<span> </span>
			<button class="btn btn-default btn-xs btn-success" data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy the deed public link to clipboard.'><i class="fa fa-files-o"></i> Copy public link to clipboard</button>
			<script>
			$(document).ready(function() {
			    var clip = new ZeroClipboard($("#d_clip_button"))
			  });
			</script>
			<% end %>
			<span> </span>
			<a class="btn btn-default btn-xs btn-success" href="<%= "#{edit_deed_path(@deed)}" %> "><i class="fa fa-pencil-square-o"></i> Edit</a>
			<span> </span>
			<%= link_to(deed_path(@deed), {:controller =>"deeds", :action =>"destroy", :id =>"#{@deed.id}", :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs btn-danger'}) do %>
			   <i class="fa fa-remove"></i> Delete
			<% end %>


			<a class="btn btn-default btn-xs btn-info" href="<%= "#{new_deed_path}" %> "><i class="fa fa-upload"></i> Upload new deed</a></p>
        </div>

    </div>
    <!-- /.row -->
	<hr>
	<!-- Viewers Row -->
	<div class="row">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Authorized viewers email: </th>
			  <th>Access key: </th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @deed.viewers.each do |viewer| %>
		      <tr>
		        <td><%= viewer.email %></td>
				<td><%= viewer.access_key %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<!-- /.row -->

	<!-- New Viewer Form Row -->
	<div class="row">
	<%= form_for([@deed, @deed.viewers.build]) do |f| %>
	<table class="table table-striped">
		<thead>
		    <tr>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
	  <tbody>
		<tr>
	    	<td><%= f.text_field :email, :style => "width:520px;" , :placeholder => "email" %></td>
			<td><%= f.hidden_field :deed_id, :value => @deed.id %></td>
			<td><%= button_to 'Add Viewer', :controller => "viewers", :action => "create", :method => :post, :class => 'btn btn-default btn-xs' %></td>
		</tr>
		  </tbody>
		</table>
	<% end %>
	</div>
    <!-- /.row -->
	<% if @deed.tx_raw %>
	<div class="row">
	<table class="table table-striped">
		<thead>
		    <tr>
		      <th>Raw signed tx:</th>
		    </tr>
		  </thead>
	  <tbody>
		<tr>
	    	<td><%= @deed.tx_raw %></td>
		</tr>
		  </tbody>
		</table>

	</div>
    <!-- /.row -->
	<% end %>

</div>
<!-- /.container -->
