<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deed.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @deed.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deed.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deed.description %>
</p>

<%= link_to 'Edit', edit_deed_path(@deed) %> |
<%= link_to 'Back', deeds_path %>
