<%= simple_form_for @batch, url: batches_path do |f| %>
<%= f.error_notification %>
<% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
	<label for="issuer_id">Issuer</label><br />
	<% if @issuers %>
		<% if @issuers.count > 1 %>
			<%= f.collection_select :issuer_id, @issuers, :id, :name, {disabled: lambda{|issuer| issuer.name == current_user.email }} %>
		<% else %>
			<%= @issuers.first.name %>
			<%= f.hidden_field :issuer_id , :value => @issuers.first.id %>
		<% end %>
	<% else %>
		<%= current_user.email %>
	<% end %>
	
  </div></br>

  <div class="form-inputs">
    <%= f.input :title, :label => 'Title' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>   <%= link_to 'Cancel', current_user, :class => 'btn btn-default' %>
  </div>
<% end %>