<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Batch: 
				<small><%= @issuer.name %>, <%= @batch.title %></small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Batches', batches_path %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
	
	<p>
	  <strong>Batch Address:</strong>
	  <%= @batch.payment_address %>
	</p>
	
	<p>
	  <strong>Diploma Count:</strong>
	  <%= @batch.deeds.count %>
	</p>

	<div class="row">
		 <div class="col-lg-2">
			<strong>Title
		</div>
		<div class="col-lg-3">
			Description
		</div>
		<div class="col-lg-4">
			File Hash</strong>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-1">
		</div>
	</div>
	    <% @batch.deeds.each do |deed| %>
		    <!-- Page Heading/Breadcrumbs -->
		    <div class="row">
				 <div class="col-lg-2">
	        		<%= deed.name %>
				</div>
				<div class="col-lg-3">
					<%= deed.description %>
				</div>
				<div class="col-lg-4">
					<%= deed.truncated_hash %>
				</div>
				<div class="col-lg-1">
	        		<%= link_to 'Show', deed %>
				</div>
				<div class="col-lg-1">
	        		<%= link_to 'Edit', edit_deed_path(deed) %>
				</div>
				<div class="col-lg-1">
	        		<%= link_to 'Destroy', deed, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
		  </div>
	    <% end %>
	<p>
	<div class="row">
		<div class="col-lg-4">
	<% if first_block(@batch.payment_address).to_i < 840000 and first_block(@batch.payment_address).to_i > 0 %>
	OP_RETURN Tx in Block # <%= first_block(@batch.payment_address) %>
	<% else %>
		<% if @batch.deeds.count > 0 %>
			<a class="btn btn-default btn-xs btn-success" href="<%= "#{prepare_tx_batch_path(@batch)}" %> "><i class="fa fa-database"></i>Prepare Raw Signed Tx</a>
		<% end %>
	<% end %>
		</div>
		<% if @batch.deeds.count > 0 %>
        <div class="col-lg-4">
	<%= button_to t('.generate_pdf', :default => "Generate PDF"),
	            generate_pdf_batch_path(@batch), :action => :generate_pdf, :class => "btn btn-success btn-xs" %>
		</div>
		<div class="col-lg-4">
			<%= button_to t('.download_pdf', :default => "Download Batch PDF"),
				            download_pdf_batch_path(@batch), :action => :download_pdf, :class => "btn btn-success btn-xs" %>
	
		</div>
		<% end %>
	</div>
    <!-- /.row -->
	</p>
</div>
<!-- /.container -->
