<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
	<% if current_user %>
		<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "#{current_user.email}" %><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "#{pluralize current_user.deeds.count, "Upload"}", current_user %>
                </li>
				<li>
                    <%= link_to "Authorized Deeds", show_authorized_user_path(current_user) %>
                </li>
                <li>
                    <%= link_to 'Edit account', edit_user_path(current_user) %>
                </li>
              <% if current_user.uid == $ADMIN_UID %>
				<li><%= link_to pluralize(User.all.count, "User"), users_path %></li>
				<li><%= link_to 'Admin Dashboard', dashboard_user_path(current_user) %></li>
			  <% end %>
            </ul>
        </li>
	<% end %>
